/*<General pages>*/

.banner {
  width: 100%;
  /*-webkit-clip-path: ellipse(62.9421% 58.7913% at 50% 37.3884%);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  
}

/*.banner-title {
  width: 100%;
  -webkit-clip-path: ellipse(62.9421% 58.7913% at 50% 37.3884%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 40px 0;
  
}*/

.our-story-banner, .faqs-banner {
  border-radius: 0 !important;
}

.page-title {
  color: white;
  opacity: 0.8;
}

.page-title .bg {
  background-color: rgb(151, 28, 30);
  line-height: 1.34;
}

section .bg {
  background-color: rgb(151, 28, 30);
  color: white;
}

.white-header {
  color: white !important;
}

.blue-header {
  color: rgb(33, 31, 96) !important;
}

.red-header {
  color: rgb(151, 28, 30) !important;
}

.black-header {
  color: black !important;
}

.bold {
  font-weight: bold;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-open[style] {
  padding-right: 0px !important;
  }

  .modal {
    overflow-y: auto;
   }
   
   .modal-open {
    overflow: auto;
   }

   .modal-dialog {
     margin-top: -10px;
   }

.btn, .banner {
  box-shadow: 0 2px 12px rgba(0,6,12,.5);
  -moz-box-shadow: 0 2px 12px rgba(0,6,12,.5);
  -webkit-box-shadow: 0 2px 12px rgba(0,6,12,.5);
  -khtml-box-shadow: 0 2px 12px rgba(0,6,12,.5);
}

.btn, .page-title, .section-header, .nav-item {
  font-weight: 700;
}

.active {
  color: rgb(151, 28, 30) !important;
}

.registration {
  font-size: 10px;
  color: black;
}

.hide {
    display: none !important;
}

th, td {
  vertical-align: middle !important;
}
table button {
  border: none;
  background: none;
  text-decoration: underline;
}

.card-body {
  border-bottom: 1px solid grey;
}

button:hover, a:hover {
  cursor: pointer;
  text-decoration: none !important;
}

.shadow {
  border:2px solid rgba(0,6,12,.5);
  box-shadow: 0 2px 12px rgba(0,6,12,.5);
  -moz-box-shadow: 0 2px 12px rgba(0,6,12,.5);
  -webkit-box-shadow: 0 2px 12px rgba(0,6,12,.5);
  -khtml-box-shadow: 0 2px 12px rgba(0,6,12,.5);
}

.rounded {
    border-radius: 100% !important;
}

.zoom {
  transition: transform .5s; /* Animation */
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}  

iframe {
  width: 100%;
}

/*</General pages>*/

body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%; width: auto !important; overflow-x: hidden !important;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

/*<Side Nav>*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
  padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
    font-weight: 600;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:hover{
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.sidebar-brand {
    height: 65px;
    position: relative;
    background-color:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
   padding-top: 1em;
}
.sidebar-brand a {
    color: #ddd;
}
.sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
}
.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
    background:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
.dropdown-menu.show {
    top: 0;
}

/*Fontawesome icons*/

/*.nav.sidebar-nav li a::before {
    font-family: fontawesome;
    content: "\f12e";
    vertical-align: baseline;
    display: inline-block;
    padding-right: 5px;
}
a[href*="#home"]::before {
  content: "\f015" !important;
}
a[href*="#about"]::before {
  content: "\f129" !important;
}
a[href*="#events"]::before {
  content: "\f073" !important;
}
a[href*="#events"]::before {
  content: "\f073" !important;
}
a[href*="#team"]::before {
  content: "\f0c0" !important;
}
a[href*="#works"]::before {
  content: "\f0b1" !important;
}
a[href*="#pictures"]::before {
  content: "\f03e" !important;
}
a[href*="#videos"]::before {
  content: "\f03d" !important;
}
a[href*="#books"]::before {
  content: "\f02d" !important;
}
a[href*="#art"]::before {
  content: "\f1fc" !important;
}
a[href*="#awards"]::before {
  content: "\f02e" !important;
}
a[href*="#services"]::before {
  content: "\f013" !important;
}
a[href*="#contact"]::before {
  content: "\f086" !important;
}
a[href*="#followme"]::before {
  content: "\f099" !important;
  color: #0084b4;
}
*/
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

/*</Side Nav>*/

/*<Web nav>*/

.web-nav {
    background-color: white;
    z-index: 1;
}

.nav-item a, .blogs-link {
    color: black !important;
}

.nav-item a:hover, .blogs-link:hover {
    color: rgb(151, 28, 30) !important;
}

.sign-in-btn, .sign-out-btn, .index-story-btn, .index-contact-btn, .faq-btn, .cancel-btn {
    color: white;
    background-color: rgb(151, 28, 30);
    border: 3px solid rgb(151, 28, 30);
}

.sign-in-btn:hover, .sign-out-btn:hover, .index-story-btn:hover, .index-contact-btn:hover, .faq-btn:hover, .cancel-btn:hover {
    color: rgb(151, 28, 30);
    background-color: white;
    border: 3px solid rgb(151, 28, 30);
}

.index-products-btn, .confirm-btn {
  color: white;
  background-color: rgb(33, 31, 96);
  border: 3px solid rgb(33, 31, 96);
}

.index-products-btn:hover, .confirm-btn:hover {
  color: rgb(33, 31, 96);
  background-color: white;
  border: 3px solid rgb(33, 31, 96);
}
/*</Web nav>*/



/*<Logged in Page content>*/

/*<Index>*/

.index-banner {
  background-image: url('./banner_index.jpeg');
}

.index-section-text {
    line-height: 1.8;
}

.index-story, .preparedness-property-body {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
}

.index-story {
  background-image: url('./our_story.jfif');
}

.index-story-div, .preparedness-property-div {
    color: white;
    line-height: 1.8;
}

.index-story-btn {
  margin-bottom: 30px;
}

.index-section h3, .index-contact h3 {
  color: rgb(151, 28, 30);
}

.fa-icon {
  color: rgb(33, 31, 96);
}

.fa-icon-alt {
  color: rgb(151, 28, 30)
}

.fa-icon h4, .fa-icon h5, h4, h5 {
  font-weight: 900;
}

.index-fact {
    width: 100%;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    background-color: white;
    margin-top: -300px;
}

.index-fact-curved {
    width: 100vw;
}

.index-products {
    background-color: rgb(245, 245, 245);
}

.index-products .section-header {
  color: rgb(33, 31, 96);
}

.index-product-btn {
  color: white;
  background-color: rgb(33, 31, 96);
  border: 2px solid white;
  border-radius: 0;
}

.index-product-btn:hover, .active-index-product-btn {
  color: rgb(33, 31, 96);
  background-color: white;
}

#index-go-btn {
  margin-right: 0 !important;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#index-supply-btn {
  margin-left: 0 !important;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.index-products .product-item {
    background-color: white;
    line-height: 2.8;
}

.index-contact {
  line-height: 1.8;
}

/*</Index>*/

/*<Sign In>*/

.sign-in-body, .upload-body {
  background-size: cover;
  background-repeat: no-repeat;
}

.sign-in-body {
  background-image: url('./sign_in.jfif');
}

.sign-in-card, .upload-card {
  border-bottom: 1px solid gray;
  background-color: rgb(245, 245, 245);
}

/*</Sign In>*/

/*<Products>*/

.products-banner {
  background-image: url('./banner_products.jpeg');
}

.products-container {
  color: rgb(151, 28, 30);
}

.products-section-title {
  border-radius: 5px;
}

.products-section-title h4 {
  font-size: 36px;
  padding: 20px 0;
}

/*</Products>*/

/*<Preparedness>*/

.preparedness-container img {
  height: 155px;
}

.preparedness-property-body {
  background-image: url('./your_property.jfif');
}

.disaster-btn {
  border: none;
  background: none !important;
  text-decoration: none !important;
  outline: none !important;
  cursor: pointer;
}
.disaster-btn:hover {
  color: rgb(151, 28, 30) !important;
}

/*</Preparedness>*/

/*<Our Story>*/

.our-story-banner {
  background-image: url('./banner_our_story.jpg');
}

.our-story-container p {
  line-height: 1.8;
}

.our-story-why {
  background-color: rgb(245, 245, 245);
}

.our-team {
  position: relative;
  width: 100%;
}

.overlay-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#thumb-1:hover .overlay-img, 
#thumb-2:hover .overlay-img, 
#thumb-3:hover .overlay-img, 
#thumb-4:hover .overlay-img, 
#thumb-5:hover .overlay-img, 
#thumb-6:hover .overlay-img, 
#thumb-7:hover .overlay-img, 
#thumb-8:hover .overlay-img, 
#thumb-9:hover .overlay-img, 
#thumb-10:hover .overlay-img, 
#thumb-11:hover .overlay-img, 
#thumb-12:hover .overlay-img  {
  opacity: 0.2;
  cursor: pointer;
}

#thumb-1:hover .middle,
 #thumb-2:hover .middle,
 #thumb-3:hover .middle,
 #thumb-4:hover .middle,
 #thumb-5:hover .middle,
 #thumb-6:hover .middle,
 #thumb-7:hover .middle,
 #thumb-8:hover .middle,
 #thumb-9:hover .middle,
 #thumb-10:hover .middle,
 #thumb-11:hover .middle,
 #thumb-12:hover .middle {
  opacity: 1;
}

.overlay-text h5 {
  color: rgb(151, 28, 30);
}

/*</Our Story>*/

/*<faqs>*/

.preparedness-banner {
  background-image: url('./banner_community.jpeg');
}

.faq-banner {
  background-color: rgb(151, 28, 30);
}

.faq-banner .page-title {
  opacity: 1;
}

#accordion h5 {
  font-size: 20px;
}

.accordion-card-header {
  background-color:rgb(151, 28, 30);
  border-bottom: 8px solid rgb(33, 31, 96);
}

.accordion-card-header button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
}

#accordion .fa-plus, #accordion .fa-minus {
position: relative;
top: 30%;
left: -15px;
color: white;
}

.toggle-card-header, .btn-link {
color: white;
font-size: 20px;
}

.faq-bubble {
  background-color: rgb(151, 28, 30);
  color: white;
  font-weight: 700;
  text-align: center;
  border-radius: 100%;
  margin: 0 auto;
}

.faq-question {
  font-weight: 700;
  line-height: 1.4;
}

.faq-answer {
  line-height: 1.4;
}

.faq-description {
  font-weight: 700;
}

/*</faqs>*/

/*<Contact Us>*/

.contact-us-banner {
  background-image: url('./banner_contact_us.jpeg');
}

.contact-container a {
  color: black;
}



/*</Contact Us>*/


/*</Logged in Page content>*/

/*<Dashboard>*/

.profile-body {
  background-color: #f5f5f5;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23971c1e' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.profile-body p {
  line-height: 1.6;
  font-size: 14px;
}

.profile-nav-item {
  background-color: black;
}

.profile-nav-item-hover { 
  color: rgb(151, 28, 30) !important;
  background-color: rgb(245, 245, 245) !important; 
}

.profile-nav-item a {
  color: white;
}

.profile-nav-item-a-hover { 
  color: rgb(151, 28, 30) !important;
}

.profile-active {
  background-color:rgb(151, 28, 30)
}

.profile-blog p {
  line-height: 1.8 !important;
}

.about-col {
  background-color: rgb(245, 245, 245);
}

.gallery-col {
  background-color: white;
}

.gallery-col a {
  color: white;
}

.gallery-col .centered h5 {
  font-size: 16px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 83px;
  min-width: 111px;
  background-color: rgb(151, 28, 30);
  border: 1px solid gray;
  opacity: 0.8;
}

figcaption, .profile-body a {
  font-weight: 600;
}

.gallery-col .active {
  color: black !important;
}

.faqs a, .faqs p {
  line-height: 1;
  font-size: 13px;
}

.faqs-img {
  width: 50px !important;
  height: auto;
}

.modal-body figcaption {
  color: black;
  background-color: rgb(245, 245, 245);
}

.modal-button {
  padding: 0;
}

.mrf-tab-mob, .mrf-tab {
  border-bottom: 1px solid black;
}

.mrf-tab-mob:hover, .mrf-tab:hover {
  cursor: pointer;
}

.mrf-active, .tab-active {
  background-color: rgb(151, 28, 30);
  color: white;
}

.upload-card {
  min-height: 560px;
}

.active-pagination {
  color: rgb(151, 28, 30) !important;
  background-color: black;
  border: 1px solid rgb(151, 28, 30);
  
}

.active-pagination:hover {
  color: white !important;
  background-color:rgb(151, 28, 30);
  border: 1px solid white;
}

.page-item a:hover {
  color: white !important;
  background-color:rgb(151, 28, 30);
  border: 1px solid white;
}

.page-item {
  border: 1px solid black;
}

.page-item a {
  color: black;
  font-weight: 700;
}

#bankModalBody {
  min-height: 50vh;
}
  
/*</Dashboard>*/

/*<top-scroll/>*/

#top-icon {
  color:rgb(33, 31, 96);
  font-weight: 700;
}

#top-icon:hover {
  color:rgb(151, 28, 30);
}

.top-div {
  background-color: rgb(245, 245, 245) !important;
}

/*
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 15px;
  }
  50% {
    bottom: 5px;
  }
}

.fa-angle-double-up {
  transition: 0.15s linear;
  color: black;
}*/

/*</top-scroll>*/

/*<Footer nav item>*/

footer {
    background-color: black;
}

.footer-nav {
    margin: 15px 0;
}

footer .nav-item a, footer p, footer a {
    font-size: 17px;
}

footer .nav-item a {
    color: white !important;
}

footer p, footer a {
    color: grey;
}


/*</Footer nav item>*/




/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 767.98px) { 
    .web {
        display: none !important;
    }

    .page-text-1 {
      font-size: 13px;
      font-size: 4.3vw;
    }
    
    .page-text-2 {
      font-size: 16px;
      font-size: 5vw;
    }

    .page-text-3 {
      font-size: 16px;
      font-size: 6.3vw;
    }

    .mobile-nav {
        min-height: 70px;
        margin-top: -70px;
        background-color: white;
    }

    .page-title, .index-section-text h3, .index-story h3, .section-header {
      font-size: 7.5vw;
    }

    .index-story-div, .preparedness-property-div {
      margin: 10px auto;
    }

    .index-products h3 {
      padding: 20px 0;
    }

    #view-index-products-btn {
      margin: 20px 0 30px 0;
    } 

    #index-contact-btn {
      margin: 20px 0 30px 0;
    } 

    .index-product-btn-toggler {
      margin-bottom: 20px;
    }

    .index-contact h3, .our-story-why h3 {
      margin-top: 25px;
    }

    .border-right {
      border-right: none !important;
    }
    
    .products-section-title h4 {
      font-size: 20px;
    }
    

    .contact-container h4 {
      padding: 10px 40px;
    }

    .sign-in-body {
      min-height: 600px;
    }

    .upload-body {
      min-height: 500px;
    }

    .pay-mob {
      text-align: center !important;
    }

    .pay-action {
      text-align: center !important;
    }

    .confirm-btn-group button {
      font-size: 3vw;
      
    }

    footer .nav-item {
        border: 1px solid grey;
        padding: 8px 0;
    }

    .footer-nav {
        margin: 0 0 10px 0;
    }

    footer .nav-item a, footer p, footer a {
      font-size: 9px;
      font-size: 2.6vw;
  }

}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 768px) { 
    
  .web .nav-item {
    color: black;
  }

  .web .nav-item:hover {
    color: rgb(151, 28, 30);
  }

  .page-text-1, .page-text-2 {
    font-size: 19px;
  }

  .page-text-3 {
    font-size: 16px;
    font-size: 2.4vw;
  }
    .mobile {
        display: none !important;
    }

    #page-content-wrapper {
        width: 100%;
        padding-top: 0px;
    }
    
    #view-index-products-btn {
      margin: 40px 0 60px 0;
    }

    .border-right {
      border-right: 1px solid grey;
    }

    .contact-container h3, .our-story-why h3 {
      margin-top: 30px;
    }

    .contact-container h4 {
      padding: 20px 40px;
      font-size: 32px;
    }
    
    .products-section-p {
      font-size: 24px;
    }

    .faq-description {
      font-size: 24px;
    }

    .sign-in-body {
      min-height: 750px;
    }

    .sign-in-container {
      min-height: 700px;
    }

    .upload-body {
      min-height: 550px;
    }

    .footer-nav {
      margin: 40px 0;
    }


}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 425.98px) { 

  .mobile-logo {
    margin-top: 20px !important;
  }

  .page-text-1 {
    font-size: 13px;
    font-size: 4.3vw;
  }

  .page-text-2 {
    font-size: 16px;
    font-size: 5vw;
  }

  th, td {
    font-size: 10px !important;
  }

  .banner {
    height: 30vh !important;
    margin-bottom: 30px !important;
  }

  .contact-container h4 {
    font-size: 27px !important;
  }

  .toggle-card-header {
    font-size: 16px;
  }

  .products-section-p {
    font-size: 18px;
  }

  
  .iframe-prep {
    margin: -50px 0 -35px 0 !important;
  }

  .faq-bubble {
    font-size: 14px;
    padding: 1px !important;
    height: 25px !important;
    width: 25px !important;
  }

  .faq-question, .faq-answer, .faq-description {
    font-size: 14px;
  }


}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .mobile-logo {
      margin-top: 10px;
    }

    th, td {
      font-size: 12px;
    }

    .index-contact h3 {
      font-size: 25px;
    }

    .banner {
      height: 35vh;
    }

    .index-section-img {
      margin-bottom: 30px;
    }

    .contact-container h4 {
      font-size: 36px;
    }

    .products-section-title {
      margin-top: -30px;
    }

    iframe {
      min-height: 300px;
    }

    .iframe-prep {
      margin: -10px 0 0 0;
    }

    .faq-banner {
      height: 150px;
    }

    .faq-bubble {
      padding: 4px 2px;
      height: 35px;
      width: 35px;
    }
    


}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  
  .banner {
    height: 300px
  }

  .index-section-img {
    margin-bottom: 40px;
  }

  .contact-container h4 {
    font-size: 42px;
  }

  .products-section-title {
    margin-top: -40px;
  }

  .products-section-title h4 {
    padding: 20px 0;
  }

  iframe {
    min-height: 300px;
  }

  .faq-banner {
    height: 200px;
  }

  .faq-bubble {
    padding: 4px 2px;
    height: 35px;
    width: 35px;
  }

    footer .nav-item a {
        font-size: 16px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  
  .web .nav-item {
       font-size: 12px;
       margin: 0 5px;
   }

   .sign-in-btn, .sign-out-btn {
       font-size: 12px;
       padding: 3px;
   }

   .banner {
    height: 300px
  }

  .page-title {
    font-size: 38px;
  }

  .index-section {
    min-height: 350px;
  }

  .index-story {
    min-height: 450px
  }

  .section-header {
    padding: 20px 0;
  }

  .contact-container .section-header, .index-section {
    margin-top: -20px;
  }

  .index-product-btn-toggler {
    margin-bottom: 30px;
  }

   .index-section-text h3, .index-story h3, .section-header {
    font-size: 40px;
  }

  .index-story-div {
    margin-left: 50px;
  }

  .preparedness-property-div {
    margin-right: 50px;
  }

  iframe {
    min-height: 400px;
  }

  .index-contact {
    min-height: 450px;
  }

  #index-contact-btn {
    margin: 10px 0 30px 0;
  } 
  
  .our-story-container {
    min-height: 400px;
  }

  .products-section-title {
    margin-top: -50px;
  }

  .faq-banner {
    height: 150px;
  }

  .faq-bubble {
    font-size: 20px;
    padding: 1px;
    height: 35px;
    width: 35px;
  }

  .gallery-col {
    min-height: 700px;
  }

  .pay-mob {
    text-align: center !important;
  }

  .pay-action {
    text-align: center !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .web .nav-item {
    font-size: 15px;
    margin: 0 10px;
}
  
  .sign-in-btn, .sign-out-btn {
       font-size: 11px;
   }

   .banner {
     height: 400px;
     margin-bottom: 30px;
   }

   .page-title, .index-section-text h3, .index-story h3, .section-header {
    font-size: 40px;
  }

  .index-section {
    min-height: 400px;
  }

  .index-section-img {
    margin-right: 20px;
}

  .index-section-text {
      margin-left: 20px;
  }

  .index-story-div {
    min-height: 400px;
    margin-left: 50px;
  }

  .preparedness-property-div {
    min-height: 400px;
    margin-right: 50px;
  }

  iframe {
    min-height: 500px;
  }

  .section-header {
    padding: 20px 0;
  }


  .index-product-btn-toggler {
    margin-bottom: 30px;
  }

  #index-contact-btn {
    margin: 5px 0 30px 0;
  } 

  .our-story-container {

    margin-top: 60px;
  }

  .products-section-title {
    margin-top: -50px;
  }

  .faq-banner {
    height: 200px;
  }

  .faq-bubble {
    font-size: 28px;
    padding: 4px;
    height: 50px;
    width: 50px;
    margin-bottom: 30px;
  }

  .faq-question {
    font-size: 20px;
  }

  .gallery-col {
    min-height: 650px;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .web .nav-item {
    font-size: 16px;
    margin: 0 20px;
}
  
    .sign-in-btn, .sign-out-btn {
        font-size: 13px;
    }

    .banner {
      margin-bottom: 5vh;
      height: 70vh;
    }

    .page-title {
      font-size: 72px;
    }

    .index-section {
      min-height: 65vh;
    }

    .index-section-text h3, .index-story h3, .section-header {
      font-size: 50px;
    }

    .index-section-img {
      margin-right: 20px;
  }

  .index-section-text {
      margin-left: 20px;
  }

  .index-story-div {
    margin-left: 150px;
    min-height: 60vh;
  }

  .preparedness-property-div {
    margin-right: 150px;
    min-height: 60vh;
  }

  .disaster-container {
    min-height: 560px;
  }

  iframe {
    min-height: 600px;
  }

  .iframe-prep {
    margin-top: -150px;
  }

  .section-header {
    padding: 3vh 0;
  }

  .products-section-title {
    margin-top: -50px;
  }

  .index-product-btn-toggler {
    margin: 8vh 0;
  }

  .index-contact {
    min-height: 60vh;
  }

  #index-contact-btn {
    margin: 2vh 0 6vh 0;
  }

  .sign-in-body {
    min-height:85vh;
  }
  
  .our-story-why {
    min-height: 80vh;
  }

  .our-story-div {
    min-height: 50vh;
  }

  .faq-banner {
    min-height: 280px;
  }

  .faq-bubble {
    font-size: 28px;
    padding: 4px;
    height: 53px;
    width: 53px;
    margin-bottom: 40px;
  }

  .faq-question {
    font-size: 24px;
  }

  .faq-answer {
    font-size: 16px;
  }

  .gallery-col {
    min-height: 73vh;
  }
}